// ##THEME COLORS
// OLD THEME COLOR: #f5586b
// $color-primary-light: #f88896;
// $color-primary-dark: #f22840;

$color-primary: #f5586b;
$color-primary-light: #f88896;
$color-primary-extraLight: #fdd8dd;

$color-secondary: #f5586b;
$color-secondary-light: #f88896;
$color-primary-dark: #f22840;

$color-success: #28a745;
$color-danger: #dc3545;

// ##DARK COLORS
// DEFUALT COLOR
$color-default: #666;
$color-default-dark: #333;

// BLACK COLOR
$color-black: #000;
// WHITE COLOR
$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.7);

// ##GREY COLORS LIGHT
$color-grey-light-1: #f5f5f5;
$color-grey-light-2: #eee;
$color-grey-light-3: #e6e6e6;
$color-grey-light-4: #ddd;
$color-grey-light-5: #ccc;

// ##GREY COLORS DARK
$color-grey-dark-1: #333;
$color-grey-dark-2: #555;
$color-grey-dark-3: #999;
$color-grey-dark-4: #aaa;

// ## BORDER RADIUS
$border-radius-default: 0.3rem;

// ## FONT SIZE
$text-size-large: 2rem;
$text-size-default: 1.6rem;
$text-size-small: 1.4rem;
$text-size-extraSmall: 1.2rem;

// ## LINE HEIGHT
$lineHeight-normal: 1;
$lineHeight-default: 1.6;
$lineHeight-large: 1.8;
$lineHeight-small: 1.3;

// ## OPACITY
$opacity-light: 0.65;
$opacity-medium: 0.75;
