// FOR TOAST NOTIFICATIONS
.notifyFade 

.modal.modal--forLoader

// BOTTOM NAV
nav.nav-bottom
  ul.nav-bottom__list.row
    li.nav-bottom__list__item
      a.nav-bottom__list__item__link.nav-bottom__list__item__link--home(href = "/")
        svg.nav-bottom__list__item__svg
          use(xlink:href='/icons/sprite.svg#icon-home')
    li.nav-bottom__list__item
      a.nav-bottom__list__item__link.nav-bottom__list__item__link--search
        svg.nav-bottom__list__item__svg
          use(xlink:href='/icons/sprite.svg#icon-search')
    li.nav-bottom__list__item
      a.nav-bottom__list__item__link(href = "/following")
        svg.nav-bottom__list__item__svg
          use(xlink:href='/icons/sprite.svg#icon-favorite_outline')
    li.nav-bottom__list__item
      a.nav-bottom__list__item__link(href = "/notExist")
        svg.nav-bottom__list__item__svg
          use(xlink:href='/icons/sprite.svg#icon-paper-plane')
  // #############################