.modal.modal-search
  .modal-search__content
    .modal-search__header.modal__header
      svg.modal-search__header__backBtn.modal__header__backBtn
        use(xlink:href='/icons/sprite.svg#icon-keyboard_backspace')
      .modal-search__header__search
        input.modal-search__header__search__input(type='text' placeholder='Search.....')
    .modal-search__body
      ul.modal-search__results
        //- li.modal-search__results__item
        //-   a.modal-search__results__item__link(href='/')
        //-     .userInfoBasic
        //-       img.userInfoBasic__photo(src='images/users/anuj_sharma.jpg')
        //-       .userInfoBasic__info
        //-         .userInfoBasic__info__username
        //-           | anuj21
        //-         .userInfoBasic__info__name
        //-           | Anuj Sharma
        //-       .userInfoBasic__action
        //-         span.btn.btn--primary.btn--small.userInfoBasic__action__follow Follow
    // #############################
