.add-post {
  border: 1px solid $color-grey-light-2;
  display: flex;
  align-items: center;
  background-color: $color-white;
  margin: 0 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem 1.8rem;
  overflow: hidden;
  border-radius: 5rem;

  &__user__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    &__photo {
      height: 3rem;
      border-radius: 50%;
    }
    &__icon {
      width: 3.5rem;
      height: 3.5rem;
      fill: $color-default;
    }
  }

  &__textarea {
    flex: 1 1;
    min-width: 10%;
    resize: none;
    border: none;
    padding: 0.7rem;
    padding-left: 2rem;
    outline: none;
    &--withImg {
      width: 100%;
      padding: 0;
    }

    &::placeholder {
      opacity: $opacity-light;
    }
  }

  &__btns {
    height: 2.3rem;
    flex-shrink: 0;
    margin-left: 0.5rem;

    &__label {
      display: inline-block;
      position: relative;
    }

    &__photoInput {
      display: none;
    }

    &__img {
      height: 2.3rem;
      width: 2.3rem;
      fill: $color-default;

      &:not(:first-child) {
        margin-left: 1.5rem;
      }
    }
  }

  &__imgSelected {
    width: 100%;
  }

  &__modal {
    background-color: $color-white;
    display: none;
    padding: 2rem;
    overflow: scroll;
    padding-bottom: 6rem;

    &__header {
      display: flex;
      align-items: center;
    }
    &__body {
      margin-top: 2rem;
    }
    &__footer {
      margin-top: 2rem;
      text-align: right;
    }

    &__show {
      display: block;
    }

    &__backBtn {
      width: 2.3rem;
      height: 2.3rem;
      margin-right: 1.5rem;
      cursor: pointer;
    }
  }
}

@keyframes showModal {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
